
@font-face {
    font-family: Tungsten-Bold;
    src: url(./fonts/Tungsten-Bold.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBack{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1000;
    filter: blur(2px);
}

.market{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70%;
    width: 70%;
    margin-top: -10%;
}

.market::before{
    content: '';
    position: absolute;
    background-color: rgb(19, 17, 17);
    filter: opacity(20%);
    width: 70%;
    height: auto;
}

.marketArea{
    padding: 5% 5%;
    display: flex;
}

.banner{
    height: 23px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(54, 95, 64, 0.589);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(215, 215, 228);
    font-family: Tungsten-Bold;
    font-size: 18px;
}

.column{
    display: flex;
    flex-direction: column;
}

.pistolColumn{
    margin-bottom: 5px;
    margin-right: 25px;
    width: 130px;
}

.smgColumn{
    margin-bottom: 10px;
    margin-right: 5px;
    width: 170px;
}

.shotgunColumn{
    margin-bottom: 8px;
    margin-right: 5px;
    width: 170px;
}

.rifleColumn{
    margin-bottom: 8px;
    margin-right: 5px;
    width: 240px;
}

.sniperColumn{
    margin-bottom: 10px;
    width: 280px;
}

.machineColumn{
    margin-bottom: 8px;
    width: 280px;
}

.columnInfo{
    margin-left: 5%;
    height: 96%;
    width: 400px;
    background-color: rgba(19, 17, 17, 0.342);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.headArea{
    height: 40px;
    width: 100%;
    padding: 5px;
    background-color: rgba(54, 95, 64, 0.589);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.headAreaTitle{
    font-family: Tungsten-Bold;
    font-size: 24px;
    color: rgb(215, 215, 228);
}

.imgArea{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgba(238, 217, 217, 0.24);
    margin-bottom: 8px;
}

.imgAreaImg{
    width: 95%;
}

.damageArea{
    width: 100%;
    height: 200px;
}

.damageAreaInfo{

}



